@charset "ISO-8859-1";

#Navegacion{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #2E64FE;
}

#Navegacion .nav__li{
	float: left;
}

#Navegacion .nav__li-a{
		display: block;
	  color: white;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
}

li a:hover:not(.active) {
	background-color: #A9F5A9;
}

* {
	font-size: 14px;
	box-sizing: border-box;
	padding: 0px;
	margin 0px;
}

#Navegacion .nav__Usuario{
 	float:right;
	color:white;
	 margin-right: 50px;
	 text-align: center;
}